.ベゼルばこ {
    /* z-index: 2; */
    /* position: absolute; */
    /* top: 80px;
    left: 50px; */
    width: 250px;
    height: 400px;
    background-color: #8cabd8;
}


.division {
    position: relative;
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.calendar {
    color: #201f1f;

}

p {
    color: #201f1f;
    font-size: 14px;
    padding-left: 15px;
    background-color: #fff;
    border-radius: 2.2rem;

}

.rcv_side {
    width: 180px;
    margin-right: 60px;
}

.snd_side {

    width: 180px;
    margin-left: 60px;
}

.snd_side textarea {
    /* padding-top: 5px;
    padding-left: 20px;
    top: 2px; */

}

.snd_side {
    position: absolute;
}

.inputArea {
    position: absolute;
    bottom: 10px;
    width: 250px;
    background-color: bisque;
}

.inputArea textarea {
    border-radius: 0rem;
}

#sndBtn {
    margin-left: 160px;
}

#delete {
    position: absolute;
    top: 3px;
    right: 455px;
}

#textSend {
    right: 3px;
}